/* ================================================ *
author:zhangyang
lastedited:2022.12.18
* ================================================ */


/* =============================================== */
/* Label                                           */
/* =============================================== */
QLabel[title="true"]{
    background-color: transparent;
    font: bold $LargeFontSizepx;
    color: $PrimaryTextColor;
}

QLabel[head="true"]{
    background-color: transparent;
    font-size: $MiddleFontSizepx;
    color: $PrimaryTextColor;
}

QLabel[PrimaryColor="true"]{
    background-color: transparent;
    font-size: $DefaultFontSizepx;
    color: $PrimaryColor;
}

/* =============================================== */
/* Login Label                                           */
/* =============================================== */
QLabel[login="true"]{
    background-color: transparent;
    color: white;
    font-size: $DefaultFontSizepx;
}
QLabel[loginMiddle="true"]{
    background-color: transparent;
    color: #e59900;
    font-size: $MiddleFontSizepx;
    font: bold;
}
QLabel[loginLarge="true"]{
    background-color: transparent;
    color: #e59900;
    font-size: $LargeFontSizepx;
    font: bold;
}

QTextEdit[PrimaryColor="true"]{
    color: $PrimaryColor;
}

QListView[isPluginView="true"]::item{
    height: 8em;
}

DockPanelSplitter::handle
{
    background-color: $BorderColor;
}
DockPanelSplitter::handle:hover
{
    background-color: $SecondaryBorderColor;
}
DockPanelSplitter::handle:pressed{
    background-color: $SecondaryBorderColor;
}
